
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">
		<title>Vanilla Web</title>
	</head>
	<body>
		<div data-component="./before.html"></div>
		<script type="module">
			
			import { Component } from '../../source/component.js'
			
			class Application {
				
				constructor() {
					
					Component.start(function() {
						console.log('index.html ready')
					})
				}
			}
			
			new Application()
			
		</script>
	</body>
</html>
