div.row {
	display: block;
	border-bottom: 1px solid lightgrey;
	padding-left:6px;
	padding-top:10px;
	padding-bottom:10px;
}
div.row.selected {
	background-color:#DDDDFF;
}
a.row {
	color:black;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	padding:0;
	block-size: 100%;
}
